body {
	font: 16px Helvetica, Sans-Serif;
	background: url(noise.png);
}

#pic {
	float: right;
	border: 1px solid black;
	border-radius: 10px;
}



#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border: 1px solid #999;
	border-radius: 5px;
	box-shadow: 5px 5px grey;
}

#content-summarycontent {
	margin: 0 0 16px 0;
	padding: 0 0 32px 0;

	font-style: italic;
	font-size: 20px;
}

#content-professionalheader {
	font-size: 28px;
}

.date {
	float: right;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
